/* Allow users in admin group to run EPI without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.fedar.easyprograminstaller" &&
        subject.isInGroup("admin") && subject.isInGroup("sudo")) {
        return polkit.Result.YES;
    }
});